/* General container for reports */
.reports-containers {
    padding: 40px 20px;
    min-height: 100vh;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    font-family: 'Roboto', sans-serif;
  }
  
  .reports-title {
    color: #ff8c43;
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* Grid container to hold the cards */
  .reports-grid {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
    gap: 20px;
    padding: 20px;
  }
  
  /* Styling for individual report cards */
  .report-card {
    
  background: linear-gradient(to right, white , rgb(227, 104, 10));
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .report-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
  }
  
  /* Title of the report */
  .report-title {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  /* Description text */
  .report-description {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
  }
  
  /* Date information */
  .report-date {
    font-size: 0.9rem;
    color: #777;
    font-style: italic;
  }
  
  /* Animation for card hover effect */
  .custom-card-animation {
    opacity: 0;
    animation: fadeIn 0.5s forwards;
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  